# Ігнорування віртуального середовища
venv/
*.pyc
*.pyo
__pycache__/

# Папки, створені для побудови і дистрибуції
build/
dist/
*.spec

# Файли та папки PyCharm
.idea/
*.iml

# Системні файли
.DS_Store
Thumbs.db

# Логи та тимчасові файли
*.log
*.tmp
*.bak
*.swp
*.swo
